<p>
  <strong>Serial number:</strong>
  <%= @cap.serial_number %>
</p>
<table>
    <thead>
      <tr>
        <th>Device ID</th>
        <th>Temp1</th>
        <th>Temp2</th>
        <th>Temp3</th>
        <th>Flow rate</th>
        <th>Rail power</th>
        <th>Battery power</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <%= render @cap.data %>
 </table>

<%= link_to 'Back', caps_path %>
